button[id$='-button'],
button[id$='_button'],
button[id^=jitsi_],
#combat_tracker > button,
#scene_selector_toggle,
body > button,
#addscene,
.scene button,
#combat_tracker_inside button,
#edit_dialog button,
#mega_importer button,
#prewiz td button,
#wizard_popup button,
.top_menu button,
.monster_frame > button,
.stp-btn,
.player-actions button,
#add-party,
#hide_rightpanel,
#zoom_buttons button,
.stream_button,
.GameLogEntry_Message__1GoY3 button {
    background-image: -webkit-linear-gradient(top, #fff, #e6e6e6);
    color: #3d3d3d;
    height: 22px;
    margin: 0 2px;
    border-radius: 7px;
    box-shadow: inset 0 1px 0 rgb(255 255 255 / 20%), 0 1px 2px rgb(0 0 0 / 5%);
    padding: 2px 8px;
    transition: color 0.3s ease-in-out, background 0.3s ease-in-out, background-color 0.3s ease-in-out, background-image 0.1s ease-in-out;
    border: 1px solid lightgray;
}

button[id$='-button']:hover,
button[id$='_button']:hover,
button[id^=jitsi_]:hover,
#combat_tracker > button:hover,
#scene_selector_toggle:hover,
body > button:hover,
#addscene:hover,
.scene button:hover,
#combat_tracker_inside button:hover,
#edit_dialog button:hover,
#mega_importer button:hover,
#prewiz td button:hover,
#wizard_popup button:hover,
.top_menu button:hover,
.monster_frame > button:hover,
.stp-btn:hover,
#hide_rightpanel:hover,
.player-actions button:hover,
#add-party:hover,
.importer_toggle:hover,
#zoom_buttons button:hover,
.GameLogEntry_Message__1GoY3 button:hover {
    color: #333;
    background-image: none;
    background: #e6e6e6;
}

.material-icons.md-10 { font-size: 10px; }
.material-icons.md-12 { font-size: 12px; }
.material-icons.md-16 { font-size: 16px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-32 { font-size: 32px; }
.material-icons.md-small{font-size: 100%;}

.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

.material-icons.button-icon {
    color: rgba(0, 0, 0, 0.8);
    font-size: 22px;
    margin: -3px -5px;
}

.drawbutton.button-enabled {
    background-image: -webkit-linear-gradient(270deg, #f7a6a6, #ff7777);
    box-shadow: 0 0 12px 0px #f10000;
    border: #ff7777;
}

.drawbutton.button-enabled:hover {
    background-image: -webkit-linear-gradient(270deg, #e29393, #f37a7a);
}

.top_menu .drawbutton.button-enabled {
    box-shadow: none;
}

.top_menu {
    margin: 0 8px;
    top: 28px !important;
    border-radius: 5px;
    max-height: 0;
    overflow: hidden;
    transition: all 0.4s ease-in-out;
    text-align: center;
}

.top_menu.visible {
    max-height: 325px;
}

.sidebar__controls > div button {
    width: 30px;
    font-size: 20px;
    line-height: 19px;
}

button#scene_selector_toggle {
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 75px;
    top: 5px;
    z-index: 9999;
}

#scene_selector_toggle > span {
    transform: rotate(0deg);
    transition: 0.5s ease-in-out;
}

#scene_selector_toggle.menu_opened > span {
    transform: rotate(180deg);
    transition: 0.5s ease-in-out;
}

button[id$='-button'].button-enabled:hover {
    color: #000;
}

#addscene {
    margin: 5px;
}

.scene {
    border-radius: 5px;
    border: 1px solid #3d3d3d;
    width: 171px;
    height: 50px;
    float: left;
    overflow: hidden;
    margin: 5px;
    background: #f9f9f9 url(../images/background_texture.png) repeat !important;
}

.sortable_placeholder {
    width: 171px;
    height: 50px;
    border: 1px dashed #3d3d3d !important;
    background-image: -webkit-linear-gradient(270deg, #f7a6a6, #ff7777);
    float: left;
    overflow: hidden;
    display: block;
    margin: 5px;
}

.scene button,
#combat_tracker_inside button,
.top_menu button {
    margin: 0;
    border-radius: 0;
    border: 0;
}

.scene > div:first-of-type {
    padding: 5px;
    max-width: 169px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

div#scene_selector,
#combat_tracker_inside,
#edit_dialog,
#mega_importer,
#prewiz,
#wizard_popup,
.top_menu {
    background: #f9f9f9 url(../images/background_texture.png) repeat !important;
}

#edit_dialog {
    height: 375px !important;
}

#combat_tracker_inside {
    position: relative;
    height: 100%;
    margin: 10px 0;
    background-image: url('/content/1-0-1487-0/skins/waterdeep/images/mon-summary/paper-texture.png');
}

#combat_area button {
    padding: 2px 5px;
}

#combat_area tr[data-current] {
    background-color: lightgreen;
}

#combat_area td:last-of-type {
    text-align: right;
}

#combat_tracker_inside .tracker-list {
    height: calc(100% - 22px);
    overflow: auto;
}

#combat_footer {
    text-align: center;
}

#combat_footer button {
    width: 50px;
}

input {
    border: 1px solid #3d3d3d;
}

#scene_properties form > button {
    float: right;
    vertical-align: bottom;
    margin-top: 20px;
}

#mega_importer {
    left: 200px;
    height: 590px;
    background: url('/content/1-0-1487-0/skins/waterdeep/images/mon-summary/paper-texture.png');
    position: fixed;
    top: 40px;
    width: 850px;
    border: 3px solid black;
    border-radius: 5px;
    z-index: 999999;
}

#importer_area {
    height: 520px !important;
}

#importer_area > div {
    border: 1px solid #3d3d3d !important;
    padding: 5px 0;
    height: 220px !important;
}

#importer_footer > div {
    right: 16px !important;
}

#importer_footer button:disabled:hover {
    color: #fff;
}

div#template_section {
    margin: 10px 5px;
}

div#scene_properties {
    margin: 0 5px;
}

div#scene_properties form > div {
    margin: 5px 0;
}

#importer_toggles {
    display: flex;
    align-items: flex-end;
    padding: .5rem .5rem 0;
    width: 100%;
}

#prewiz td {
    padding: 10px;
    font-size: 16px;
    vertical-align: inherit;
}

#prewiz td button {
    width: 150px;
    text-transform: uppercase;
    height: 50px;
}

#wizard_popup {
    font-size: 16px !important;
    padding: 10px;
}

#wizard_popup button {
    display: block;
    margin: 10px auto;
    height: 28px;
    font-size: 16px;
    text-transform: uppercase;
    min-width: 45px;
}

#zoom_buttons {
    position: absolute;
    top: 0;
    z-index: 60;
}

#scene_selector {
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    top: 27px;
    max-height: 60vh;
    min-width: 200px;
    width: calc(100vw - 720px);
    max-width: 748px;
    z-index: 9999;
    border: solid black 2px;
    overflow: auto;
}

#scene_selector .scene_title {
    cursor: move;
    font-weight: bold;
}

.active_scene {
    box-shadow: 0px 0px 15px -4px #ff7777;
    border: 1px solid #ff7777;
}

.stp-btn {
    width: 100%;
    height: 34px;
}

.token {
    overflow: visible !important;
    border-radius: 50%;
    transition: box-shadow 0.5 ease-in-out;
    z-index: 50;
}

.token-image {
    cursor: move;
}

.hasTooltip::after {
    content: attr(data-name);
    -webkit-font-smoothing: antialiased;
    margin: 0 auto;
    opacity: 0;
    white-space: nowrap;
    background: rgba(32, 31, 31, 0.699);
    padding: 1px 1px 1px 1px;
    box-sizing: border-box;
    color: #fff;
    border-radius: 2px;
    text-shadow: 0px 1px 1px #000;
    visibility: hidden;
    transition: 0.2s ease-in-out 0.5s;
}

.hasTooltip.button-icon{
    position: relative;
}

.hasTooltip.button-icon.point-right span{
    transform: rotate(0turn);
    transition: transform 0.3s ease-in-out;
}

.hasTooltip.button-icon.point-left span{
    transform: rotate(0.5turn);
    transition: transform 0.3s ease-in-out;
}

.hasTooltip.button-icon::after {
    position: absolute;
    z-index: 100;
    left: 50%;
    font-size: 11px;
    top: 140%;
    transform: translate(-50%);
    transition: 0.1s ease-in-out 0.2s;
}

.hasTooltip#stream_button:after {
    width: 200px;
    text-align: left;
    white-space: break-spaces;
}

.hasTooltip.VTTToken::after {
    position: absolute;
    z-index: 4;
    left: 50%;
    font-size: 0.85em;
    bottom: -1.2em;
    transform: translate(-50%);
}

.hasTooltip.CTToken::after{
    position: absolute;
    z-index: 4;
    left: 100%;
    transform: translate(0, 25%);
    font-size: 16px;
    transition: 0.1s ease-in-out 0.2s;
}

.hasTooltip:hover:after {
    opacity: 1;
    visibility: visible;
    transition: 0.05s ease-in-out 0.3s;
}

.hasTooltip.CTToken:hover:after {
    transition: 0s ease-in-out 0s;
}

.dead {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
}

.dead:before, .dead:after {
    position: absolute;
    content: '';
    background: red;
    display: block;
    width: 100%;
    height: var(--size, 10px);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    transition: all 0.5s ease-in-out;
}

.dead:after {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

#combat_tracker {
    position: fixed;
    height: 450px;
    left: 5px;
    top: 40px;
    z-index: 99999000;
}

.tracker-dm {
    width: 200px;
}

.tracker-player {
    width: 150px;
}

#campaign_banner {
    border: 1px dashed #1b9af0;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: .5rem;
}

#campaign_banner a{
	color: #1b9af0;
}

#patreons {
	padding-top:20px;
    font-size: 9px;
 
   -webkit-column-count: 6;
      -moz-column-count: 6;
           column-count: 6;

   -webkit-column-gap: 20px;
      -moz-column-gap: 20px;
           column-gap: 20px;
}

.patreons-title{
	font-size: 13px;
	font-weight:bold;
}

.player-card {
    box-shadow: 0 8px 16px -8px rgb(0 0 0 / 40%);
    background: linear-gradient(#e6e6e6, #fff);
    border-radius: 6px;
    margin: 10px;
    padding: 5px;
}

.player-card-header {
    display: flex;
    justify-content: space-between;
}

.player-name {
    font-variant: small-caps;
    font-size: 17px;
    width: 160px;
}

.player-actions {
    display: flex;
    align-items: center;
}

.player-card-content {
    display: flex;
    margin: 10px 5px;
}

.player-info {
    display: flex;
    width: 100%;
    margin: 0 10px;
}

.player-attributes {
    width: 60px;
    display: flex;
    flex-wrap: wrap;
    max-height: 70px;
    flex-direction: column;
    justify-content: space-between;
}

.player-attribute {
    display: flex;
    align-items: center;
}

.player-attribute > img {
    width: 16px;
    margin-right: 10px;
}

.player-no-attributes {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
}

.player-conditions {
    max-width: 155px;
    padding-left: 15px;
}

.player-see-more {
    text-align: center;
}

.player-see-more img {
    cursor: pointer;
    width: 20px;
    transition: transform 0.3s ease-in-out;
}

.player-see-more img.reverse {
    transform: rotate(180deg);
}

.player-card-footer {
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
    max-height: 0px;
    transition: all 0.5s ease-in-out;
}

.player-card-footer.show {
    max-height: 80px;
}

.player-token {
    position: relative;
    border-radius: 50%;
    height: 70px;
}

.player-token img {
    border-radius: 50%;
}

.player-token > div {
    font-size: 10px;
}

.player-token-hp {
    background: #FF7777;
    position: absolute;
    top: 56px;
    left: 1px;
    padding: 0 3px;
}

.player-token-ac {
    position: absolute;
    top: 54px;
    border: 1px solid black;
    background: white;
    border-radius: 50%;
    width: 16px;
    text-align: center;
    left: 51px;
}

.ability_value {
    display: inline-block;
    width: 44px;
    padding: 5px;
    text-align: center;
    border:solid 2px #AE0404;
    position: relative;
    border-radius: 15px 25px 125px 25px/15px 225px 15px 255px;
    height: 60px;
    margin: 10px 0;
}
  
.ability_name {
    color: darkgrey;
    font-weight: bold;
}
  
.ability_modifier {
    font-size: 18px;
    margin-top: -2px;
}
  
.ability_score {
    position: absolute;
    bottom: -10px;
    border-radius: 50%;
    border: 1px solid #AE0404;
    width: 25px;
    background: #fff;
    left: calc(20px / 2);
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-party-container {
    padding: 10px;
    text-align: right;
}

.token.ui-draggable-disabled {
    cursor: default;
}

.token .condition-img {
    padding: 0;
    margin: 0;
    background: #01ffff;
    border: 1px solid black;
    border-radius: 50%;
}

.token .custom-condition.condition-img {
    background: #F58231;
}

.tokenselected::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 0px;
    padding: 5px;
    border: 5px #c0f3fff5 solid;
    z-index: 0;
}

.tokenselected.ui-draggable-disabled::before{
    border: 5px #f7bfbfd5 solid
}


.ac {
    position: absolute;
}

.color-reminder {
    display: inline-block;
    width:85%;
}

.conditions {
    padding: 0;
    margin: 0;
    top: 0;
    position: absolute;
    z-index: 5;
}

.dnd-condition {
    cursor: pointer;
}

.hpbar {
    z-index: 3;
}
/* Classes for main buttons on campaign page */
.above-vtt-content-div {
    display: inline-block;
    margin-top: 15px;
    border-style: solid;
    border-width: 1px;
    border-color: #1b9af0
}

.above-vtt-right-margin-5px {
    margin-right:5px;
}

.above-vtt-logo {

    display: inline-block;
    margin-left:5px;
    padding-top:15px;
    padding-bottom:15px;
}

.above-vtt-campaignscreen-blue-button {
    color:white;
    background:#1b9af0;
}

.above-vtt-campaignscreen-black-button {
    color:white;
    background:black;
}

.above-vtt-campaignscreen-white-button {
    cursor: pointer;
    color:#1b9af0;
    background:white;
}

.sidebar__inner {
    position: relative;
}

.sidebar__controls {
    position: relative;
    margin: 0 !important;
    left: -2px;
    z-index: 20;
    /* width: 340px; moved to init_ui */ 
}

/*.sidebar__controls.player {
    left: -206px;
}*/

.sidebar__pane-content {
    position: absolute;
    right: 0;
    top: 22px;
}

.sidebar__controls .tab-btn {
    background-color: #e3e3e3;
    margin: 0 2px;
    border-radius: 7px 7px 0 0;
    padding: 0;
    border-style: solid;
    border-width: 0;
    border-color: lightgray;
    transition: all 0.2s ease-in-out;
    font-weight: 400;
    max-width: 40px;
    width: 40px;
    height: 22px;
}

.sidebar__controls .tab-btn.selected-tab {
    background-color: #fff;
}

#chat-text {
    width:260px;
    height:30px;
    margin-bottom:10px;
}

.dice-roller {
    display: flex;
    justify-content: space-around;
    width: 320px;
    margin: 10px 0 15px 0;
}

.dice-roller > div {
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    width: 40px;
    height: 40px;
    position: relative;
    display: flex;
    align-items: center;
}

.dice-roller > div:hover:not(.dice-number) {
    transform: translateY(-2px);
}

.dice-roller > div img {
    top: 0;
    transition: all 0.5s ease-in-out;
    position: absolute;
    z-index: 11;
}

/* .dice-roller > div.dice-number img {
    top: -50px;
}

.dice-roller > div input {
    width: 40px;
    opacity: 0;
    z-index: 10;
} */
.dice-badge {
    position: absolute;
    text-align: center;
    display: inline-block;
    border-radius: 50%;
    transition: transform .2s ease-in-out;
    transform: scale(.6);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    pointer-events: none;
    right: -7px;
    top: -10px;
    color: #fff;
    background: #f44336;
    width: 22px;
    height: 22px;
    line-height: 22px;
    font-size: 16px;
}

.roll-button {
    position: fixed;
    right: 343px;
    bottom: 13px;
    z-index: 0;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.roll-button.show {
    z-index: 999999999;
    opacity: 1;
}

.d-block {
    display: block;
}

.text-center {
    text-align: center;
}

.hidden {
    visibility: hidden;
}
.tokenentryimg {
	width:60px;
	height:60px;
}

.tokenmenuitem {
	float: left;
	height:100px;
	width: 100px;
    margin-bottom: 20px;
}

.panel-warning {
	background:red;
}

.sidebar__controls button{
	font-size: 10px;
}

#splash {
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    top: 27px;
    height: 670px;
    width: 600px;
    z-index: 999;
    border: 3px solid black;
}

.splashLinkRow div{
	display:inline;
	padding-left:20px;
}


.aura-element {
    position: absolute;
    border-radius: 50%;
    z-index: 19;
}

.aura-feet label, .aura-color label {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.context-menu-input.aura-feet > label > input[type="text"] {
    display: inline-block;
    width: 70%;
}

.aura-color button {
    width: 70%;
    height: 23px;
    border: 1px solid #3e3e3e;
    border-radius: 5px;
}

.context-menu-input.aura-color > label > input[type="text"] {
    display: none;
}

.context-menu-input.on-off-title > label > input[type="checkbox"] {
    float: right;
}

.context-menu-input.hp-context-input{
    display: inline-block;
    zoom: 1;
    max-width: 75px;
}

.context-menu-input.hp-context-input > label > input{
    width: 100%;
}

.context-menu-helptext {
    max-width: 150px;
    color: grey;
    font-size: 0.9em;
}

.token-round{
	border-radius: 50%;
}

.soundpad-section audio{
	height:20px;
	width: 200px;
}

.soundpad-line-title{
	display: inline-block;
	width: 70px;
}

#hide_rightpanel{
	position: absolute;
	left: -34px;
}


.soundpad-section-title{
	font-weight: bold;
	background: #dddddd;
}

audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display{
	display:none;
}

.loop-pressed{
	background:green;
}

.loop-img{
	height:20px;
}

.loop-button{
	position:relative;
	top: -2px;
}

#help-overlay{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 99999999; /*this seems super over the top but that's what's needed to appear over the combat button. I didn't want to change the z-index for that without checking first*/
}

#help-container{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 99999999; /*this seems super over the top but that's what's needed to appear over the combat button. I didn't want to change the z-index for that without checking first*/
}

#help-menu-outside{
    backdrop-filter: saturate(50%) blur(20px);
    backdrop-filter: hue-rotate(90deg) saturate(30%);
    backdrop-filter: saturate(30%);
    backdrop-filter: brightness(30%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#help-menu {
    max-width: 90vw;
    max-height: 90vh;
    background: #f9f9f9 url(../images/background_texture.png) repeat !important;
    position: absolute;
    top: 5%;
    left: 5%;
    /*transform: translate(-50%, -50%);*/
    padding: 5px;
    border-radius: 5px;
    z-index: 3;
    display: flex;
    overflow-y: auto;
}


body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
  }
  

  
  a {
    text-decoration: none;
  }
  
  .help-tabs {
      background-color: #f1f1f1;
      flex: 0 0 auto;
  }

  .help-tabs ul {
    margin: 0;
    padding: 0;
  }
  
  .help-tabs li {
    display: block;
    border-width: 1px 0px 1px 1px;
    margin: -1px;
    margin-bottom: 0px;
  }
  
  .help-tabs a {
    display: block;
    padding: 10px 15px;
    color: rgb(0, 0, 0);
  }
  
  .help-tabs li:hover {
    background-color: #DDD;
  }

  .help-tabs li.active {
    background-color: #CCC;
    color: rgb(0, 0, 0);
  }
  
  .help-tabs li.active a {
    color: inherit;
  }
  
  .tabs-content {
    display: block;
    top: 0;
    border: 1px solid #34495E;
    padding: 10px;
    margin-top: -1px;
    overflow: auto;
  }

  .tabs-content iframe{
    width: 830px;
    height: 90vh;
    max-width: 90vw;
    margin-left: -85px;
    margin-top: -85px;
  }
  
  .tabs-content IMG {
    margin-right: 10px;
  }
  
  .tabs-content div:not(:first-child) {
    display: none;
  }

.tabs-content dt {
    display: inline-block;
    text-align: center;
    margin: 0;
    padding: 1px 3px;
    border-radius: 2px;
    background-color: rgb(180, 173, 209);
    color: rgb(0, 0, 0);
    min-width: 8px;
    font-weight: bold;
    box-shadow: 1px 1px 3px 0px black;
}

.tabs-content dd {
    display: inline-block;
    margin: 0 0 0 5px;
}
.custom-token-image-menu-item-img{
    width: 38px;
    max-width: 38px;
    height: 38px;
    max-height: 38px;
    border-radius: 3px;
    object-fit: cover;
    margin-bottom: 4px;
}

.custom-token-image-menu-item-remove-button{
    margin-left: 8px;
    vertical-align: baseline;
}

.label-one-line {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.label-one-line:hover {
    overflow: visible;
    white-space: normal;
    width: auto;
}
