button[id$='-button'],
button[id$='_button'],
button[id^=jitsi_],
#combat_tracker > button,
#scene_selector_toggle,
body > button,
#addscene,
.scene button,
#combat_tracker_inside button,
#edit_dialog button,
#mega_importer button,
#prewiz td button,
#wizard_popup button,
.top_menu button,
.monster_frame > button,
.stp-btn,
.sidebar__controls button {
    background: #3d3d3d;
    color: #fff;
    border: 0;
    height: 22px;
    margin: 0 2px;
    border-radius: 7px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    padding: 2px 8px;
    transition: color 0.3s ease-in-out, background 0.3s ease-in-out;
}   

button[id$='-button']:hover,
button[id$='_button']:hover,
button[id^=jitsi_]:hover,
#combat_tracker > button:hover,
#scene_selector_toggle:hover,
body > button:hover,
#addscene:hover,
.scene button:hover,
#combat_tracker_inside button:hover,
#edit_dialog button:hover,
#mega_importer button:hover,
#prewiz td button:hover,
#wizard_popup button:hover,
.top_menu button:hover,
.monster_frame > button:hover,
.stp-btn:hover,
.sidebar__controls button:hover {
    color: #E60207;
    background: #2e2e2e;
}

.top_menu {
    margin: 0 8px;
    top: 28px !important;
    /* width: 150px !important; */
    border-radius: 5px;
    max-height: 0px;
    overflow: hidden;
    transition: all 0.4s ease-in-out;
    text-align: center;
}

.top_menu.visible {
    max-height: 300px;
}

.sidebar__controls > div button {
    width: 30px;
    font-size: 20px;
    line-height: 19px;
}

button#scene_selector_toggle {
    left: 612px !important;
}

button[id$='-button'].button-enabled:hover {
    color: #000;
}

#addscene {
    margin: 5px;
}

.scene {
    border-radius: 5px;
    border: 1px solid #3d3d3d !important;
}

.scene button,
#combat_tracker_inside button,
.top_menu button {
    margin: 0;
    border-radius: 0;
}

.scene > div:first-of-type {
    padding: 5px;
    max-width: 169px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

div#scene_selector,
#combat_tracker_inside,
#edit_dialog,
#mega_importer,
#prewiz,
#wizard_popup,
.top_menu {
    background: #f9f9f9 url(../images/background_texture.png) repeat !important;
}

#edit_dialog {
    height: 375px !important;
}

div#combat_tracker_inside {
    margin: 10px 0;
    position: relative;
}

#combat_area button {
    padding: 2px 5px;
}

#combat_area td:last-of-type {
    text-align: right;
}

#combat_tracker_inside > div {
    position: absolute;
    bottom: 0;
}

#combat_footer button {
    width: 50px;
}

input {
    border: 1px solid #3d3d3d;
}

#scene_properties form > button {
    float: right;
    vertical-align: bottom;
    margin-top: 20px;
}

#mega_importer {
    left: 200px !important;
    height: 590px !important;
}

#importer_area {
    height: 520px !important;
}

#importer_area > div {
    border: 1px solid #3d3d3d !important;
    padding: 5px 0;
    height: 220px !important;
}

#importer_footer > div {
    right: 16px !important;
}

#importer_footer button:disabled:hover {
    color: #fff;
}

/** it would be nice to have a class selector because of the red background, will use this as a temp fix **/
.importer_toggle:hover {
    color: gold !important;
}

div#template_section {
    margin: 10px 5px;
}

div#scene_properties {
    margin: 0 5px;
}

div#scene_properties form > div {
    margin: 5px 0;
}

#importer_toggles {
    display: flex;
    align-items: flex-end;
    padding: .5rem .5rem 0;
    width: 100%;
}

#prewiz td {
    padding: 10px;
    font-size: 16px;
    vertical-align: inherit;
}

#prewiz td button {
    width: 150px;
    text-transform: uppercase;
    height: 50px;
}

#wizard_popup {
    font-size: 16px !important;
    padding: 10px;
}

#wizard_popup button {
    display: block;
    margin: 10px auto;
    height: 28px;
    font-size: 16px;
    text-transform: uppercase;
    min-width: 45px;
}

#zoom_buttons {
    position: absolute;
    top: 0;
    z-index: 60;
}

#scene_selector {
    z-index: 1000;
}

.stp-btn {
    width: 100%;
    height: 34px;
}
