button[id$='-button'],
button[id$='_button'],
button[id^=jitsi_],
#combat_tracker > button,
body > button,
#addscene,
.scene button,
#combat_tracker_inside button,
#edit_dialog button,
#mega_importer button,
#prewiz td button,
#wizard_popup button,
#aoe_feet,
.top_menu button,
.monster_frame > button,
.stp-btn,
.player-actions button,
#add-party,
#reset_round_number,
#zoom_buttons button,
.GameLogEntry_Message__1GoY3 button {
    background-image: -webkit-linear-gradient(top, #fff, #e6e6e6);
    color: #3d3d3d;
    height: 22px;
    margin: 0 2px;
    border-radius: 7px;
    box-shadow: inset 0 1px 0 rgb(255 255 255 / 20%), 0 1px 2px rgb(0 0 0 / 5%);
    padding: 2px 8px;
    transition: color 0.3s ease-in-out, background 0.3s ease-in-out, background-color 0.3s ease-in-out, background-image 0.1s ease-in-out;
    border: 1px solid lightgray;
    font-size: 12px;
}

#cpick{
    display: block;
    margin-left: 27px;
    height: 27px;
}

#combat_tracker_inside button {
    padding: 2px 4px;
}

button[id$='-button']:hover,
button[id$='_button']:hover,
button[id^=jitsi_]:hover,
#combat_tracker > button:hover,
body > button:hover,
#addscene:hover,
.scene button:hover,
#combat_tracker_inside button:hover,
#edit_dialog button:hover,
#mega_importer button:hover,
#prewiz td button:hover,
#wizard_popup button:hover,
.top_menu button:hover,
.monster_frame > button:hover,
.stp-btn:hover,
.player-actions button:hover,
#add-party:hover,
.importer_toggle:hover,
#zoom_buttons button:hover,
.GameLogEntry_Message__1GoY3 button:hover {
    color: #333;
    background-image: none;
    background: #e6e6e6;
}

.custom-gamelog-message {
    width: 100%;
    font-size: 14px;
    font-family: Roboto,Helvetica,sans-serif;
    font-weight: 400;
}
button.gamelog-to-everyone-button {
    background-color: rgb(255, 255, 255);
    border-top: none;
    border-right: 1px solid rgb(206, 217, 224);
    border-bottom: 1px solid rgb(206, 217, 224);
    border-left: 1px solid rgb(206, 217, 224);
    border-image: initial;
    border-radius: 0px 0px 4px 4px;
    padding: 4px 10px;
    text-transform: uppercase;
    font-family: "Roboto Condensed", "Arial Narrow", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 0.7rem;
    line-height: 16px;
    letter-spacing: 0.4px;
    color: #5c7080;
}

.material-icons.md-10 { font-size: 10px; }
.material-icons.md-12 { font-size: 12px; }
.material-icons.md-14 { font-size: 14px; }
.material-icons.md-16 { font-size: 16px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-32 { font-size: 32px; }
.material-icons.md-small{font-size: 100%;}
.material-icons.md-weight-700 { font-weight: 700; }

.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

.material-icons.button-icon {
    color: #838383;
    font-size: 18px;
    font-weight: 700;
    margin: -3px -3px;
}
.material-icons.button-icon:hover {
    color: #fff;
}

.ddbc-tab-options--layout-pill .ddbc-tab-options__header-heading {
    display: flex;
    flex-wrap: wrap;
    font-family: Roboto Condensed,Roboto,Helvetica,sans-serif;
    cursor: pointer;
    color: #838383;
    line-height: 1;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    background-color: #f2f2f2;
    margin: 3px 2px;
    border-radius: 3px;
    padding: 5px 7px;
    white-space: nowrap;
}
.ddbc-tab-options--layout-pill .ddbc-tab-options__header-heading--is-active {
    color: #fff;
    background-color: #c53131;
}
.ddbc-tab-options--layout-pill .ddbc-tab-options__header-heading:hover {
    background-color: #5d5d5d;
    color: #f2f2f2;
}
.menu-subtitle {
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: Roboto Condensed,Roboto,Helvetica,sans-serif;
    padding: 5px 0;
}

.top_menu {
    margin: 0 8px;
    top: 28px !important;
    border-radius: 5px;
    max-height: 0;
    overflow: hidden;
    transition: all 0.4s ease-in-out;
    text-align: center;
}

.top_menu.visible {
    max-height: 100%;
    overflow-y: auto;
}

div.ct-sidebar__controls {
    margin: 4px 0px 0px 0px !important;
}
div.ct-sidebar__pane-content--is-dark-mode #chat-text {
    color: #bfccd6;
    background: #313739;
}
div.ct-sidebar__pane-content--is-dark-mode .dice-roller img {
    filter: invert(0.6) sepia(1) saturate(0.5) hue-rotate(175deg);
}
div.ct-sidebar__pane-content--is-dark-mode .sidebar-panel-content {
    color: black;
}


.sidebar__controls > div button {
    width: 30px;
    font-size: 20px;
    line-height: 19px;
}

#scene_selector_toggle {
    align-items: center;
    margin: 0px;
}
#scene_selector_toggle_pill {
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 75px;
    top: 2px;
    z-index: 9999;
}

#scene_selector_toggle > span {
    transform: rotate(0deg);
    transition: 0.5s ease-in-out;
}

#scene_selector_toggle.menu_opened > span {
    transform: rotate(180deg);
    transition: 0.5s ease-in-out;
}
#sheet {
    border: none;
    position: fixed;
    top: 30px;
    bottom: 0px;
    right: -1030px;
    left: auto;
    width: 1030px;
    height: auto;
    background: #242527;
    z-index: 0;
    
    transition: -webkit-transform ease-in-out 0.5s;
    transform-origin: top;
    transition-delay: 0.1s; /* Needed to calculate the vertical area to shift with translateX */

}
#sheet iframe {
    border: none;
    position: absolute;
    height: auto;
    width: 100%;
    top: 24px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}
#sheet.thin {
    width: 420px;
}
#sheet.sidebar_hidden.open {
    transform: translateX(-1030px);
    transition: 0.5s ease-in-out;
}
#sheet.open {
    transform: translateX(-1370px);
    transition: 0.5s ease-in-out;
    z-index: 99999999;
}

#addscene {
    margin: 5px;
}

.scene {
    border-radius: 5px;
    border: 1px solid #3d3d3d;
    width: 172px;
    height: 50px;
    float: left;
    overflow: hidden;
    margin: 5px;
    background: #f9f9f9 url(../images/background_texture.png) repeat !important;
}

.sortable_placeholder {
    width: 171px;
    height: 50px;
    border: 1px dashed #3d3d3d !important;
    background-image: -webkit-linear-gradient(270deg, #f7a6a6, #ff7777);
    float: left;
    overflow: hidden;
    display: block;
    margin: 5px;
}

.scene button,
#combat_tracker_inside button,
.top_menu button {
    margin: 0;
    border-radius: 0;
    border: 0;
}

.scene > div:first-of-type {
    padding: 5px;
    max-width: 169px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

div#scene_selector,
#combat_tracker_inside,
#edit_dialog,
#mega_importer,
#prewiz,
#wizard_popup,
.top_menu {
    background: #f9f9f9 url(../images/background_texture.png) repeat !important;
}

#edit_dialog {
    height: 400px !important;
}

#combat_tracker_inside {
    position: relative;
    height: 100%;
    margin: 10px 0;
    padding-bottom:3px;
    background-image: url('/content/1-0-1487-0/skins/waterdeep/images/mon-summary/paper-texture.png');
}

#combat_area button {
    padding: 2px;

}

#combat_area tr[data-current] {
    background-color: lightgreen;
}

#combat_area td:last-of-type {
    text-align: right;
}

#combat_tracker_inside .tracker-list {
    height: calc(100% - 22px);
    overflow: auto;
}

#combat_footer {
    text-align: center;
}

#combat_footer button {
    width: 50px;
    font-size: 10px;
}

#round_number_label {
    font-size: 11px;
    vertical-align: middle;
    padding-left: 8px;
    text-align: left;
}

input.roundNum::-webkit-outer-spin-button,
input.roundNum::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number].roundNum {
  -moz-appearance: textfield;
}

input {
    border: 1px solid #3d3d3d;
}

#scene_properties form > button {
    float: right;
    vertical-align: bottom;
    margin-top: 20px;
}

#mega_importer {
    left: 200px;
    height: 590px;
    background: url('/content/1-0-1487-0/skins/waterdeep/images/mon-summary/paper-texture.png');
    position: fixed;
    top: 40px;
    width: 850px;
    border: 3px solid black;
    border-radius: 5px;
    z-index: 999999;
}

#importer_area {
    height: 520px !important;
}

#importer_area > div {
    border: 1px solid #3d3d3d !important;
    padding: 5px 0;
    height: 220px !important;
}

#importer_footer > div {
    right: 16px !important;
}

#importer_footer button:disabled:hover {
    color: #fff;
}

div#template_section {
    margin: 10px 5px;
}

div#scene_properties {
    margin: 0 5px;
}

div#scene_properties form > div {
    margin: 5px 0;
}

#importer_toggles {
    display: flex;
    align-items: flex-end;
    padding: .5rem .5rem 0;
    width: 100%;
}

#prewiz td {
    padding: 10px;
    font-size: 16px;
    vertical-align: inherit;
}

#prewiz td button {
    width: 150px;
    text-transform: uppercase;
    height: 50px;
}

#wizard_popup {
    font-size: 16px !important;
    padding: 10px;
}

#wizard_popup button {
    display: block;
    margin: 10px auto;
    height: 28px;
    font-size: 16px;
    text-transform: uppercase;
    min-width: 45px;
}

#zoom_buttons {
    position: absolute;
    top: -3px;
    z-index: 60;
    display: flex;
    flex-direction: row;
}
#hide_rightpanel .ddbc-tab-options__header-heading,
#zoom_buttons .ddbc-tab-options__header-heading {
    padding: 2px;
}
#hide_rightpanel .material-icons.button-icon,
#zoom_buttons .material-icons.button-icon {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.1;
    margin: 0px 2px;
}

#scene_selector {
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    top: 27px;
    max-height: 60vh;
    min-width: 200px;
    width: calc(100vw - 720px);
    max-width: 748px;
    z-index: 9999;
    border: solid black 2px;
    overflow: auto;
}

#scene_selector .scene_title {
    cursor: move;
    font-weight: bold;
}

.active_scene {
    box-shadow: 0px 0px 15px -4px #ff7777;
    border: 1px solid #ff7777;
}

.stp-btn {
    width: 100%;
    height: 34px;
}

.token {
    overflow: visible !important;
    border-radius: 50%;
    transition: box-shadow 0.5 ease-in-out;
    z-index: 50;
}

.token-image {
    cursor: move;
}

.hasTooltip::after {
    content: attr(data-name);
    -webkit-font-smoothing: antialiased;
    margin: 0 auto;
    opacity: 0;
    white-space: nowrap;
    background: rgba(32, 31, 31, 0.699);
    padding: 1px 1px 1px 1px;
    box-sizing: border-box;
    color: #fff;
    border-radius: 2px;
    text-shadow: 0px 1px 1px #000;
    visibility: hidden;
    transition: 0.2s ease-in-out 0.5s;
}

.hasTooltip.button-icon{
    position: relative;
}

.hasTooltip.button-icon.point-right span{
    transform: rotate(0turn);
    transition: transform 0.3s ease-in-out;
}

.hasTooltip.button-icon.point-left span{
    transform: rotate(0.5turn);
    transition: transform 0.3s ease-in-out;
}

.hasTooltip.button-icon::after {
    position: absolute;
    z-index: 100;
    left: 50%;
    font-size: 11px;
    top: 140%;
    transform: translate(-50%);
    transition: 0.1s ease-in-out 0.2s;
}

.hasTooltip.VTTToken::after {
    position: absolute;
    z-index: 4;
    left: 50%;
    font-size: 0.85em;
    bottom: -1.2em;
    transform: translate(-50%);
}

.hasTooltip.CTToken::after{
    position: absolute;
    z-index: 4;
    left: 100%;
    transform: translate(0, 25%);
    font-size: 16px;
    transition: 0.1s ease-in-out 0.2s;
}

.hasTooltip:hover:after {
    opacity: 1;
    visibility: visible;
    transition: 0.05s ease-in-out 0.3s;
}

.hasTooltip.CTToken:hover:after {
    transition: 0s ease-in-out 0s;
}

.dead {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
}

.dead:before, .dead:after {
    position: absolute;
    content: '';
    background: red;
    display: block;
    width: 100%;
    height: var(--size, 10px);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    transition: all 0.5s ease-in-out;
}

.dead:after {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

#combat_tracker {
    position: fixed;
    height: 450px;
    left: 5px;
    top: 40px;
    z-index: 56000;
}

.tracker-dm {
    width: 200px;
}

.tracker-player {
    width: 150px;
}

#campaign_banner {
    border: 1px dashed #1b9af0;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: .5rem;
}

#campaign_banner a{
	color: #1b9af0;
}

#patreons {
	padding-top:10px;
    font-size: 8px;

   -webkit-column-count: 8;
      -moz-column-count: 8;
           column-count: 8;

   -webkit-column-gap: 20px;
      -moz-column-gap: 20px;
           column-gap: 20px;
}

.patreons-title{
	font-size: 11px;
	font-weight:bold;
}

.player-card {
    box-shadow: 0 8px 16px -8px rgb(0 0 0 / 40%);
    background: linear-gradient(#e6e6e6, #fff);
    border-radius: 6px;
    margin: 10px;
    padding: 5px;
}

.player-card-header {
    display: flex;
    justify-content: space-between;
}

.player-name {
    font-variant: small-caps;
    font-size: 17px;
    width: 160px;
}

.player-actions {
    display: flex;
    align-items: center;
}

.player-card-content {
    display: flex;
    margin: 10px 5px;
}

.player-info {
    display: flex;
    width: 100%;
    margin: 0 10px;
}

.player-attributes {
    width: 60px;
    display: flex;
    flex-wrap: wrap;
    max-height: 70px;
    flex-direction: column;
    justify-content: space-between;
}

.player-attribute {
    display: flex;
    align-items: center;
}

.player-attribute > img {
    width: 16px;
    margin-right: 10px;
}

.player-no-attributes {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
}

.player-conditions {
    max-width: 155px;
    padding-left: 15px;
}

.player-see-more {
    text-align: center;
}

.player-see-more img {
    cursor: pointer;
    width: 20px;
    transition: transform 0.3s ease-in-out;
}

.player-see-more img.reverse {
    transform: rotate(180deg);
}

.player-card-footer {
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
    max-height: 0px;
    transition: all 0.5s ease-in-out;
}

.player-card-footer.show {
    max-height: 80px;
}

.player-token {
    position: relative;
    border-radius: 50%;
    height: 70px;
}

.player-token img {
    border-radius: 50%;
}

.player-token > div {
    font-size: 10px;
}

.player-token-hp {
    background: #FF7777;
    position: absolute;
    top: 56px;
    left: 1px;
    padding: 0 3px;
}

.player-token-ac {
    position: absolute;
    top: 54px;
    border: 1px solid black;
    background: white;
    border-radius: 50%;
    width: 16px;
    text-align: center;
    left: 51px;
}

.ability_value {
    display: inline-block;
    width: 44px;
    padding: 5px;
    text-align: center;
    border:solid 2px #AE0404;
    position: relative;
    border-radius: 15px 25px 125px 25px/15px 225px 15px 255px;
    height: 60px;
    margin: 10px 0;
}

.ability_name {
    color: darkgrey;
    font-weight: bold;
}

.ability_modifier {
    font-size: 18px;
    margin-top: -2px;
}

.ability_score {
    position: absolute;
    bottom: -10px;
    border-radius: 50%;
    border: 1px solid #AE0404;
    width: 25px;
    background: #fff;
    left: calc(20px / 2);
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-party-container {
    padding: 10px;
    text-align: right;
}

.token.ui-draggable-disabled {
    cursor: default;
}

.token .condition-img {
    padding: 0;
    margin: 0;
    background: #01ffff;
    border: 1px solid black;
    border-radius: 50%;
}

.token .custom-condition.condition-img {
    background: #F58231;
}

.token .note-condition.condition-img {
    background: #e4c700;
}


.tokenselected::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 0px;
    padding: 5px;
    border: 5px #c0f3fff5 solid;
    z-index: 0;
}

.tokenselected.ui-draggable-disabled::before{
    border: 5px #f7bfbfd5 solid
}


.ac {
    position: absolute;
}

.color-reminder {
    display: inline-block;
    width:85%;
}

.conditions {
    padding: 0;
    margin: 0;
    top: 0;
    position: absolute;
    z-index: 5;
}

.dnd-condition {
    cursor: pointer;
}

.hpbar {
    z-index: 3;
}
/* Classes for main buttons on campaign page */
.above-vtt-content-div {
    display: inline-block;
    margin-top: 15px;
    border-style: solid;
    border-width: 1px;
    border-color: #1b9af0
}

.above-vtt-right-margin-5px {
    margin-right:5px;
}

.above-vtt-logo {

    display: inline-block;
    margin-left:5px;
    padding-top:15px;
    padding-bottom:15px;
}

.above-vtt-campaignscreen-blue-button {
    color:white;
    background:#1b9af0;
}

.above-vtt-campaignscreen-black-button {
    color:white;
    background:black;
}

.above-vtt-campaignscreen-white-button {
    cursor: pointer;
    color:#1b9af0;
    background:white;
}

.sidebar__inner {
    position: relative;
}

/* .ct-sidebar__controls, */
.sidebar__controls {
    position: relative;
    margin: 0 !important;
    z-index: 20;
    /* width: 340px; moved to init_ui */
}

/*.sidebar__controls.player {
    left: -206px;
}*/

/* .ct-sidebar__pane-content, */
.sidebar__pane-content {
    position: absolute;
    right: 0;
    top: 28px;
}

.ddbc-tab-list__nav-item {
    display: flex;
    border-bottom: 3px solid transparent;
    color: #838383;
    font-size: 14px;
    font-family: Roboto Condensed,Roboto,Helvetica,sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
}
.ddbc-tab-list__nav-item--is-active {
    border-bottom-color: #c53131;
    color: #000;
}
.selected-tab img.ddbc-tab-list__nav-item--is-active,
.selected-tab svg.ddbc-tab-list__nav-item--is-active {
    width: 90%;
    margin: auto;
}

.ct-sidebar__controls .tab-btn,
.sidebar__controls .tab-btn {
    background-color: #f2f2f2;
    margin: 0 2px;
    border-radius: 3px 3px 0 0;
    padding: 0;
    border-style: solid;
    border-width: 0;
    border-color: lightgray;
    transition: all 0.2s ease-in-out;
    font-weight: 400;
    height: 100%;
    flex-grow: 1;
}

.ct-sidebar__controls .tab-btn .sidebar-tab-image > div,
.sidebar__controls .tab-btn .sidebar-tab-image > div {
    width: 100%;
    height: 80%;
    margin: 5% 0 0 0;
    background-color: #838383;
}
.ct-sidebar__controls .tab-btn.selected-tab .sidebar-tab-image > div,
.sidebar__controls .tab-btn.selected-tab .sidebar-tab-image > div {
    height: 100%;
    margin-top: 0%;
    background-color: #000;
}
.ct-sidebar__controls .tab-btn .sidebar-tab-image > svg,
.sidebar__controls .tab-btn .sidebar-tab-image > svg {
    width: 100%;
    height: 80%;
    margin: 5% 0 0 0;
    color: #838383;
}
.ct-sidebar__controls .tab-btn.selected-tab .sidebar-tab-image > svg,
.sidebar__controls .tab-btn.selected-tab .sidebar-tab-image > svg {
    height: 90%;
    margin-top: 2%;
    color: #000;
}

.ct-sidebar__controls .tab-btn.selected-tab,
.sidebar__controls .tab-btn.selected-tab {
    width: 50px;
}

.ct-sidebar__controls .tab-btn.selected-tab.blue-tab,
.sidebar__controls .tab-btn.selected-tab.blue-tab {
    background-color: rgb(235, 241, 245);
}

.ct-sidebar__controls .tab-btn.notification,
.sidebar__controls .tab-btn.notification {
    background-color: red;
}
.ct-sidebar__controls .tab-btn.notification svg,
.sidebar__controls .tab-btn.notification svg {
    color: white;
}

.ct-sidebar__controls .tab-btn.leading-edge,
.sidebar__controls .tab-btn.leading-edge {
    margin-left: 0px;
}

.ct-sidebar__controls .tab-btn.trailing-edge,
.sidebar__controls .tab-btn.trailing-edge {
    margin-right: 0px;
}

.chat-text-wrapper{
    width:100%;
    padding: 0px 20px;
}
#chat-text {
    width:100%;
    height:30px;
}

.highlight-gamelog {
    -webkit-animation: blink 3.0s linear infinite;
    -moz-animation: blink 3.0s linear infinite;
    -ms-animation: blink 3.0s linear infinite;
    -o-animation: blink 3.0s linear infinite;
    animation: blink 3.0s linear infinite;
}

@keyframes blink {
    0% { box-shadow: inset 0 0 10px red; }
    50% { box-shadow: none; }
    100% { box-shadow: inset 0 0 10px red; }
}

@-webkit-keyframes blink {
    0% { box-shadow: inset 0 0 10px red; }
    50% { box-shadow: 0 0 0; }
    100% { box-shadow: inset 0 0 10px red; }
}

.dice-roller {
    display: flex;
    justify-content: space-around;
    width: 320px;
    margin: 10px 0 15px 0;
}

.dice-roller > div {
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    width: 40px;
    height: 40px;
    position: relative;
    display: flex;
    align-items: center;
}

.dice-roller > div:hover:not(.dice-number) {
    transform: translateY(-2px);
}

.dice-roller > div img {
    top: 0;
    transition: all 0.5s ease-in-out;
    position: absolute;
    z-index: 11;
}

/* .dice-roller > div.dice-number img {
    top: -50px;
}

.dice-roller > div input {
    width: 40px;
    opacity: 0;
    z-index: 10;
} */
.dice-badge {
    position: absolute;
    text-align: center;
    display: inline-block;
    border-radius: 50%;
    transition: transform .2s ease-in-out;
    transform: scale(.6);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    pointer-events: none;
    right: -7px;
    top: -10px;
    color: #fff;
    background: #f44336;
    width: 22px;
    height: 22px;
    line-height: 22px;
    font-size: 16px;
}

.roll-button {
    position: fixed;
    right: 343px;
    bottom: 13px;
    z-index: 0;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.roll-button.show {
    z-index: 999999999;
    opacity: 1;
}

.d-block {
    display: block;
}

.text-center {
    text-align: center;
}

.hidden {
    visibility: hidden;
}
.tokenentryimg {
	width:60px;
	height:60px;
}

.tokenmenuitem {
	float: left;
	width: 33%;
    margin-bottom: 20px;
    position: relative;
}
.tokenmenuitem img {
    position: absolute;
    top:      0;
    left:     0;
    bottom:   0;
    right:    0;
}

.panel-warning {
	background:red;
    margin-bottom: 10px;
}

.ct-sidebar__controls button,
.sidebar__controls button{
	font-size: 10px;
}

#splash {
    position: fixed;
    transform: translate(0%, -4%);
    top: 10px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
    height: 740px;
    width: 700px;
    z-index: 70001;
    border: 3px solid black;
    border-radius: 8px;
    padding: 10px;
}

.splashLinkRow div{
	display:inline;
	padding-left:20px;
}


.aura-element {
    position: absolute;
    border-radius: 50%;
    z-index: 19;
}

.aura-feet label, .aura-color label {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.context-menu-input.aura-feet > label > input[type="text"] {
    display: inline-block;
    width: 70%;
}

.aura-color button {
    width: 70%;
    height: 23px;
    border: 1px solid #3e3e3e;
    border-radius: 5px;
}

.context-menu-input.aura-color > label > input[type="text"] {
    display: none;
}

.context-menu-input.on-off-title > label > input[type="checkbox"] {
    float: right;
}

.context-menu-input.hp-context-input{
    display: inline-block;
    zoom: 1;
    max-width: 75px;
}

.context-menu-input.hp-context-input > label > input{
    width: 100%;
}

.context-menu-helptext {
    max-width: 150px;
    color: grey;
    font-size: 0.9em;
}

.token-round{
	border-radius: 50%;
}

.soundpad-section audio{
	height:20px;
	width: 200px;
}

.soundpad-line-title{
	display: inline-block;
	width: 70px;
}

#hide_rightpanel {
	position: absolute;
	left: -32px;
    top: -3px;
}

.soundpad-section-title{
	font-weight: bold;
	background: #dddddd;
}

audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display{
	display:none;
}

.loop-pressed{
	background:green;
}

.loop-img{
	height:20px;
}

.loop-button{
	position:relative;
	top: -2px;
}

.journal-chapter-title{
    font-weight: bold;
    background: #dddddd;
    min-height: 30px;
}

.journal-note-entry{
	width:100%;
	height: 20px;
	margin-top:3px;
	margin-bottom:3px;
}

.journal-entry-buttons{
	float:right;
	height: 20px;
}
.journal-note-entry-title{
	float:left;
	height: 20px;
}

.visibility-container{
	border: 1px solid black;
	width: auto;
}

.btn-del-chapter{
    right: 0;
    position: absolute;
    margin-top: 4px;
}

#help-overlay{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 99999999; /*this seems super over the top but that's what's needed to appear over the combat button. I didn't want to change the z-index for that without checking first*/
}

#help-container{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 99999999; /*this seems super over the top but that's what's needed to appear over the combat button. I didn't want to change the z-index for that without checking first*/
}

#help-menu-outside{
    backdrop-filter: saturate(50%) blur(20px);
    backdrop-filter: hue-rotate(90deg) saturate(30%);
    backdrop-filter: saturate(30%);
    backdrop-filter: brightness(30%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#help-menu {
    max-width: 90vw;
    max-height: 90vh;
    background: #f9f9f9 url(../images/background_texture.png) repeat !important;
    position: absolute;
    top: 5%;
    left: 5%;
    /*transform: translate(-50%, -50%);*/
    padding: 5px;
    border-radius: 5px;
    z-index: 3;
    display: flex;
    overflow-y: auto;
}

#cpicker_overlay {
    position: fixed; /* Sit on top of the page content */
    display: block; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0); /* Black background with opacity */
    z-index: 100; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
  }

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
  }



  a {
    text-decoration: none;
  }

  .help-tabs {
      background-color: #f1f1f1;
      flex: 0 0 auto;
  }

  .help-tabs ul {
    margin: 0;
    padding: 0;
  }

  .help-tabs li {
    display: block;
    border-width: 1px 0px 1px 1px;
    margin: -1px;
    margin-bottom: 0px;
  }

  .help-tabs a {
    display: block;
    padding: 10px 15px;
    color: rgb(0, 0, 0);
  }

  .help-tabs li:hover {
    background-color: #DDD;
  }

  .help-tabs li.active {
    background-color: #CCC;
    color: rgb(0, 0, 0);
  }

  .help-tabs li.active a {
    color: inherit;
  }

  .tabs-content {
    display: block;
    top: 0;
    border: 1px solid #34495E;
    padding: 10px;
    margin-top: -1px;
    overflow: auto;
  }

  .tabs-content iframe{
    width: 830px;
    height: 90vh;
    max-width: 90vw;
    margin-left: -85px;
    margin-top: -85px;
  }

  .tabs-content IMG {
    margin-right: 10px;
  }

  .tabs-content div:not(:first-child) {
    display: none;
  }

.tabs-content dt {
    display: inline-block;
    text-align: center;
    margin: 0;
    padding: 1px 3px;
    border-radius: 2px;
    background-color: rgb(180, 173, 209);
    color: rgb(0, 0, 0);
    min-width: 8px;
    font-weight: bold;
    box-shadow: 1px 1px 3px 0px black;
}

.tabs-content dd {
    display: inline-block;
    margin: 0 0 0 5px;
}

.label-one-line {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.label-one-line:hover {
    overflow: visible;
    white-space: normal;
    width: auto;
}

.preserve-aspect-ratio {
    object-fit: contain;
}

.sidebar-modal {
    position: fixed;
    z-index: 99999;
    align-items: center;
    justify-content: center;
    padding: 10px;
    overflow-y: auto;
    background-color: rgb(235, 241, 245);
    width: 340px;
    top: 30px;
    right: 0px;
    left: auto;
    height: calc(100vh - 30px);
}
.sidebar-modal-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.sidebar__pane-content .sidebar-panel-content,
.ct-sidebar__pane-content .sidebar-panel-content {
    position: fixed;
    top: 30px;
    right: 0px;
    width: 340px;
    z-index: -1;
    height: calc(-30px + 100vh);
}
div.sidebar__pane-content > div.selected-tab,
div.ct-sidebar__pane-content > div.selected-tab {
    z-index: 21;
}

/* Make a few adjustments for when it's a modal because we nest it inside or .sidebar-modal and change the UI slightly  */
.sidebar-modal .sidebar-panel-content,
.sidebar-modal .sidebar-panel-content .sidebar-panel-header,
.sidebar-modal .sidebar-panel-content .sidebar-panel-body,
.sidebar-modal .sidebar-panel-content .sidebar-panel-footer {
    background-color: #fff;
}
.sidebar-modal .sidebar-panel-content .sidebar-panel-header,
.sidebar-modal .sidebar-panel-content .sidebar-panel-footer {
    padding: 0px;
}

.sidebar-panel-content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    position: relative;
    overflow-y: auto;
    background-color: #fff;
}
.sidebar-panel-header {
    width: 100%;
}
.sidebar-panel-header-title {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: .5px;
    display: flex;
    align-items: center;
    margin: 8px 0px 8px 8px;
}
.sidebar-panel-header-title:empty{
    margin: 0px;
}
.sidebar-panel-header-subtitle {
    font-size: 12px;
    font-weight: 700;
    color: #738694;
    line-height: 1.4;
    margin: 8px 0px 8px 8px;
}
.sidebar-panel-header-subtitle:empty{
    margin: 0px;
}
.sidebar-panel-header-explanation {
    font-size: 14px;
    color: #979AA4;
    font-family: "Roboto Condensed",Roboto,Helvetica,sans-serif;
    margin: 8px 0px 8px 8px;
    padding: 0px;
}
.sidebar-panel-header-explanation:empty{
    margin: 0px;
}
.token-image-modal-footer-title {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    flex-grow: 1;
    color: #738694;
    line-height: 1.4;
    margin: 4px 6px 2px 2px;
}
div.token-image-modal-footer-title {
    font-size: 13px;
}
h1.token-image-modal-footer-title:after,
h2.token-image-modal-footer-title:after,
h3.token-image-modal-footer-title:after,
h4.token-image-modal-footer-title:after,
h5.token-image-modal-footer-title:after {
    /* This was lifted from source book titles, and tweaked slightly */
    content: '';
    width: 100%;
    margin: 5px auto 20px;
    height: 1px;
    background-color: #979AA4;
    display: block;
}
.sidebar-panel-footer input,
.token-image-modal-footer input {
    margin-bottom: 6px;
    width: auto;
}
.sidebar-panel-footer-horizontal-wrapper,
.token-image-modal-footer-select-wrapper {
    display: flex;
    flex-direction: row;
    margin-bottom: 6px;
    width: 100%;
}
.sidebar-panel-footer-horizontal-wrapper .sidebar-panel-footer-button {
    margin: 0px 4px 0px 4px;
}
.token-image-modal-footer-select-wrapper select {
    min-width: 30%;
}
.footer-input-wrapper {
    width: 100%;
    padding: 4px;
    border-top: 1px solid #d8e1e8;
}
.token-image-modal-url-label-wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.token-image-modal-url-label-add-wrapper {
    display: flex;
    flex-direction: row;
}
.token-image-modal-remove-all-button {
    appearance: none;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    background: #e40712;
    border: none;
    color: #fff;
    align-self: stretch;
    font-size: 12px;
    padding: 4px;
    margin: 10px;
}
.sidebar-panel-footer-button {
    appearance: none;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    background: #1b9af0;
    border: none;
    color: #fff;
    align-self: stretch;
    margin: 4px 0px 4px 0px;
    padding: 10px;
    width: 100%;
    flex-grow: 0;
}
.token-image-modal-add-button {
    margin: 0px 4px 0px 4px;
    width: auto;
}
.custom-token-image-item {
    float: left; 
    width: 33%;
    position: relative;
}
.custom-token-image-item.ui-draggable-dragging {
    width: auto;
}
.custom-token-image-item img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: inline-block;
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.token-image-sizing-dummy {
    /* this allows us to size the img using a 1:1 aspect ratio without having to use js to calculate the height after the felx width has been determined */
    margin-top: 100%;
}

.custom-token-list {
    display: flex;
    align-items: center;
    padding: 0px;
    flex-direction: column;
    background: rgb(235, 241, 245);
    height: 100%;
}
.custom-token-image-row {
    padding: 4px;
    width: 100%;
    margin: 2px 0px 2px 0px;
    border: 1px solid #d8e1e8;
    border-radius: 3px;
    background-color: #fff;
}
.custom-token-image-row-item {
    display: flex;
    width: 100%;
}
.custom-token-image-row-img {
    display: flex;
    flex-basis: 38px;
    width: 38px;
    max-width: 38px;
    height: 38px;
    max-height: 38px;
    border-radius: 3px;
    object-fit: cover;
    margin-left: 4px;
}
.custom-token-image-row-img img {
    object-fit: contain;
    width: 38px;
    max-width: 38px;
    height: 38px;
    max-height: 38px;
}
.custom-token-image-row-details {
    text-overflow: ellipsis;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    color: #10161a;
    flex-grow: 1;
    margin-left: 4px;
    margin-right: 4px;
    line-height: 1.4;
    font-family: Roboto, "Open Sans", Helvetica, sans-serif;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.custom-token-image-row-details div {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
}
.custom-token-image-row-details-title {
    font-size: 13px;
    font-weight: 700;
}
.custom-token-image-row-details-subtitle {
    color: #738694;
    font-size: 10px;
}
.custom-token-image-row-add {
    margin-left: auto;
    display: flex;
    flex-basis: 38px;
    width: 38px;
    max-width: 38px;
    height: 38px;
    max-height: 38px;
    border-radius: 3px;
    object-fit: cover;
    background: #fff;
    border: 1px solid #d8e1e8;
    cursor: pointer;
}
.custom-token-image-row-add svg {
    width: 100%;
    height: 100%;
    fill: #1b9af0;
}
.custom-token-image-row-handle {
    background-color: #d8e1e8;
    display: flex;
    width: 38px;
    max-width: 38px;
    object-fit: cover;
    padding: 7px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: #f2f6f8;
    align-self: stretch;
    border-left: 1px solid #d8e1e8;
    margin: -4px -4px -4px 8px;
    cursor: pointer;
}
.custom-token-image-row-handle img {
    width: 100%;
    height: 100%;
    fill: #738694;
}

.sidebar-panel-content {
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    background-color: rgb(235, 241, 245);
    height: 100%;
}
.sidebar-panel-content .sidebar-panel-body {
    height: 100%;
    padding: 8px;
}
#monsters-panel .sidebar-panel-body {
    padding: 0px;
}
#players-panel .sidebar-panel-body {
    padding: 0px;
}
.sidebar-panel-content .sidebar-panel-body {
    background-color: rgb(235, 241, 245);
    position: relative; 
    width:100%; 
    overflow-y: auto;
    flex: auto;
}
.tokens-panel-back-button {
    background-image: url(https://media-waterdeep.cursecdn.com/file-attachments/0/737/chevron-left-green.svg);
    background-repeat: no-repeat;
    background-position: left;
    padding: 4px;
    cursor: pointer;
    margin: 0px 12px;
}
.tokens-panel-back-button div {
    padding-left: 20px;
    color: #878787;
    text-transform: uppercase;
    font-family: "Roboto Condensed", Roboto, Helvetica, sans-serif;
    font-weight: bold;
}
.sidebar-panel-content .sidebar-panel-header {
    background-color: rgb(235, 241, 245);
    padding: 0px;
}
.sidebar-panel-content .sidebar-panel-footer {
    display: flex;
    flex-direction: column;
    padding: 0px;
    background-color: rgb(235, 241, 245);
    width: 100%;
    align-items: center;
}
.chat-link {
  word-wrap: break-word;
  width: 100%;
  text-decoration: underline;
}

.example-tokens-wrapper {
    width: 100%;
    height: 100px;
    display: flex;
    margin: 10px 0px;
}

/* all the rc-switch styles were lifted from the content sharing screen /campaigns/<campaign_id>/content-management and then tweaked slightly */
.rc-switch {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    width: 44px;
    height: 22px;
    line-height: 20px;
    padding: 0;
    vertical-align: middle;
    border-radius: 20px 20px;
    border: 1px solid #ccc;
    background-color: #ccc;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.35, 0, 0.25, 1);
}
.rc-switch-checked {
    border: 1px solid #1b9af0;
    background-color: #1b9af0;
}
.rc-switch-checked:after {
    left: 22px;
}
.rc-switch:after {
    position: absolute;
    width: 18px;
    height: 18px;
    left: 2px;
    top: 1px;
    border-radius: 50% 50%;
    background-color: #fff;
    content: " ";
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0,0,0,0.26);
    transform: scale(1);
    transition: left 0.3s cubic-bezier(0.35, 0, 0.25, 1);
    -webkit-animation-timing-function: cubic-bezier(0.35, 0, 0.25, 1);
    animation-timing-function: cubic-bezier(0.35, 0, 0.25, 1);
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-name: rcSwitchOff;
    animation-name: rcSwitchOff;
}
.rc-switch-inner {
    color: #fff;
    font-size: 12px;
    position: absolute;
    left: 24px;
    top: 0;
}
.rc-switch-checked .rc-switch-inner {
    left: 6px;
}
.rc-switch-checked:after {
    left: 22px;
}
.rc-switch:hover:after {
    transform: scale(1.1);
    -webkit-animation-name: rcSwitchOn;
    animation-name: rcSwitchOn;
}

.sidebar-hovertext:before {
    content: attr(data-hover);
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
    text-transform: none;
    visibility: hidden;
    opacity: 0;
    width: max-content;
    background-color: rgba(28,29,30,0.8);
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px 5px;
    transition: opacity 1s ease-in-out;
    position: absolute;
    z-index: 1;
    left: 5%;
    margin-top: 30px;
    width: 90%;
}

.sidebar-hovertext:hover:before {
    opacity: 1;
    visibility: visible;
}
.sidebar-panel-content .sidebar-panel-footer .footer-input-wrapper:empty {
    padding: 0px;
    border-top: 0px solid #d8e1e8;
}
.sidebar-panel-loading-indicator {
    padding: 40px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: rgb(235, 241, 245);
    /* easy debugging */
    /* opacity: 0.5; */
}
.loading-status-indicator__subtext {
    font-size: 14px;
    color: #738694;
    margin-bottom: 8px;
    text-align: center;
}
.beholder-dm-screen__beholder {
    animation-duration: 6s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: beholder-float;
}
@keyframes beholder-float {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, -20px); }
    100%   { transform: translate(0, -0px); }   
}

div.sidebar__pane-content div.tooltip::after {
    background: none !important;
}

button.avtt-roll-button {
    /* lifted from DDB encounter stat blocks  */
    color: #b43c35;
    border: 1px solid #b43c35;
    border-radius: 4px;
    background-color: #fff;
    white-space: nowrap;
    font-size: 14px;
    font-weight: 600;
    font-family: Roboto Condensed,Open Sans,Helvetica,sans-serif;
    line-height: 18px;
    letter-spacing: 1px;
    padding: 1px 4px 0;
}			
.MuiPaper-root {
    padding: 0px 16px;
    width: 100px;
}
.MuiListItemText-root {
    flex: 1 1 auto;
    min-width: 0;
    margin-top: 4px;
    margin-bottom: 4px;
}
.MuiButtonBase-root {
    width: 100%;
}
