#largeVideoBackgroundContainer,
.stage-participant-label,
#largeVideoElementsContainer{
	display:none !important;
}

.filmstrip{
	width: 100% !important;	
    max-width: 100% !important;
}
body.desktop-browser,
body.desktop-browser>div>div {
    background: none !important;
}
.dragHandleContainer{
	display:none !important;
}
#filmstripLocalVideo {
    position:relative !important;
    display:inline !important;
    width:unset !important;
}
.filmstrip__videos.remote-videos {
    position:relative !important;
    display:inline !important;
    width: unset !important;
    overflow: visible !important;
    height:130px !important;  
}
#localVideoWrapper .flipVideoX{
	transform: none;
}
.filmstrip__videos.remote-videos div{
    opacity: 1 !important;
}
div#remoteVideos {
    display: flex !important;
    flex-direction: row !important;
    justify-content: center !important;
    align-items: center !important;
    align-content: center !important;
}
.videocontainer{
	position: relative !important;
	height: 130px !important;
	min-height: 130px !important;
	min-width: 130px !important;
	width: 200px !important;
	left: unset !important;
	top: unset !important;
}
.filmstrip__videos.remote-videos>div{
    position: relative !important;
}
.display-avatar-only{
	background: #000d !important;
}
div#largeVideoContainer {
    background: none !important;
}

.leftwatermark {
    width:40px !important;
    opacity:0.5;
    top:-5px !important;
    left:100px !important;
}