#largeVideoBackgroundContainer,
.stage-participant-label,
#largeVideoElementsContainer{
	display:none;
}

#layout_wrapper .filmstrip{
	width: 100%;	
    max-width: 100% !important;
}
body.desktop-browser,
body.desktop-browser>div>div {
    background: none;
}
#layout_wrapper .dragHandleContainer{
	display:none ;
}
#layout_wrapper #filmstripLocalVideo {
    position:relative;
    display:inline;
    width:unset;
}
.filmstrip__videos.remote-videos {
    position:relative !important;
    display:inline !important;
    width: unset !important;
    overflow: visible !important;
    height:130px !important;  
}
#localVideoWrapper .flipVideoX{
	transform: none;
}
#layout_wrapper .filmstrip__videos.remote-videos div{
    opacity: 1;
}
#layout_wrapper div#remoteVideos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}
#layout_wrapper .videocontainer{
	position: relative !important;
	height: 130px !important;
	min-height: 130px !important;
	min-width: 130px !important;
	width: 230px !important;
	left: unset !important;
	top: unset !important;
}
.jss27{
    background: none !important;
}
.stage-participant-label{
    display:none !important;
}
#layout_wrapper .filmstrip__videos.remote-videos>div{
    position: relative;
}
#layout_wrapper .display-avatar-only{
	background: #000d !important;
}
#layout_wrapper  div#largeVideoContainer {
    background: none !important;
}

#layout_wrapper .leftwatermark {
    width:40px ;
    opacity:0.5;
    top:-5px ;
    left:100px ;
}