
.dcm-backdrop {
    z-index: 60000 !important;
    position: fixed;
    inset: 0px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.dcm-container {
    opacity: 1;
    transform: none;
    transition: opacity 306ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 306ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transform-origin: 0px 239.609375px;
    min-width: 215px;
    border-radius: 12px;
    background-color: #182026;
    color: rgba(0, 0, 0, 0.87);
    box-shadow: rgb(0 0 0 / 20%) 0px 5px 5px -3px, rgb(0 0 0 / 14%) 0px 8px 10px 1px, rgb(0 0 0 / 12%) 0px 3px 14px 2px;
    position: absolute;
    overflow: hidden auto;
    min-height: 16px;
    max-width: calc(100% - 32px);
    max-height: calc(100% - 32px);
    outline: 0px;
}

.dcm-section-list {
    padding: 0;
    list-style: none;
    margin: 0px;
    position: relative;
    color: inherit;
}

.dcm-section {
    padding: 0;
}

.dcm-section-header {
    line-height: 32px;
    color: #A7B6C2;
    font-size: 11px;
    text-transform: uppercase;
    box-sizing: border-box;
    list-style: none;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 500;
    padding-left: 16px;
    padding-right: 16px;
    position: sticky;
    top: 0px;
    z-index: 1;
}

.dcm-row {
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 2px;
    border-radius: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    color: inherit;
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    text-align: left;
    padding: 0px 16px 0px 0px;
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.dcm-row-icon {
    min-width: 40px;
    color: rgba(0, 0, 0, 0.54);
    flex-shrink: 0;
    display: inline-flex;
    text-align: left;
    cursor: pointer;
    user-select: none;
    justify-content: center;
    margin: 0px 6px;
}

.dcm-svg {
    user-select: none;
    width: 20px;
    height: 20px;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 1.5rem;
}

.dcm-row-title {
    flex: 1 1 auto;
    min-width: 0px;
    margin-top: 4px;
    margin-bottom: 4px;
    cursor: pointer;
    user-select: none;
}
.dcm-row-title span {
    font-size: 14px;
    margin: 0px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    display: block;
    color: #fff;
}

.dcm-hr {
    background-color: #444D5B;
    margin: 0px;
    flex-shrink: 0;
    border-width: 0px 0px thin;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.12);
}

.dcm-roll-button {
    padding: 12px;
    color: #1B9AF0;
    font-weight: 700;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 0.875rem;
    line-height: 1.75;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
    min-width: 64px;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    width: 100%;
}

.dcm-row[role='additionalDice'] .dcm-row-icon{
    margin-right:6px;
    width:10px;
    min-width:10px;
}
.dcm-row[role='additionalDice']{
    padding:0px
}
.context-add-dice-roller {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 2px;
    color:#fff;
}

.context-add-dice-roller>div>div[alt]{
    background: #fff;
    width:25px;
    height:25px;
    -webkit-mask-size:cover !important;  
    mask-size: cover !important;
}
.dcm-row-title span.dcm-dice-badge {
    display:flex;
    position:absolute;
    top: 3px;
    transform: translateX(12px);
    background:#182026;
    border:1px solid #fff;
    border-radius:50%;
    width:14px;
    height:14px;
    font-size:10px;
    justify-content: center;
    align-items: center;
    pointer-events:none;
}